body{
    font-family: League Spartan", sans-serif";
}
p{
    margin: 0;
}
.number>i{
    margin-right: 10px!important;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.background-black{
    background-color: black;
}
.background-black-space{
    width: 1200px;
    margin: 0 auto;
}
#navbarNav{
    justify-content: end;
}
.navbar .nav-link,
.navbar .nav-link.active,
.navbar .navbar-brand {
  color: white!important;
  font-size: 20px;
  font-weight: 600;
}
